/* Kopfbereich */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Navigationsbereich */
nav {
    display: flex;
    justify-content: space-evenly;
}

/* Hauptbereich (main + aside) */
#maincontainer {
    display: flex;
}

/* Subcontainer (main) */
main.subcontainer {
    display: flex;
    flex-direction: column;
    flex: 1 1 80%;
}

/* tutorial.html: Subsubcontainer */
.subsubcontainer {
    display: flex;
}

aside {
    flex: 1 1 20%;
}

/* Zusatzbereich */
footer {
    display: flex;
    justify-content: center;
}

/* Grid-Layout im Kopfbereich */
header h1 {
    grid-area: h1;
}

header form {
    grid-area: form;
}

header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "h1 form";
    align-items: center;
    justify-items: center;
}

@media screen and (max-width: 320px) {
    nav {
        flex-direction: column;
    }
}

@media screen and (max-width: 567px) {
    header form {
        display: none; /*visibility: hidden;*/
    }
}

@media screen and (max-width: 768px) {
    #maincontainer {
        flex-direction: column;
    }

    header h1 {
        font-size: 150%;
    }
}
