/* ##################################
Styles, die für alle Formulare gelten
##################################### */
input:valid {
    background-color: rgb(225, 252, 225);
}

input:invalid {
    background-color: rgb(255, 225, 225);
}

input[type="submit"] {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

label.required::after {
    content: '*';
}

input[type="file"] {
    margin-left: 5px;
}

/* #########################################################
Styles für Formulare, die nicht in registration.html stehen
############################################################ */

input.search {
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
}

/* ##########################################
Styles, die nur für registrierung.html gelten
############################################# */

