/* Kopfbereich */
header {
    grid-area: header;
}

/* Navigationsbereich */
nav {
    grid-area: nav;
    /* Flexbox-Design im Navigationsbereich */
    display: flex;
    justify-content: space-evenly;
}

/* Hauptbereich */
main {
    grid-area: main;
}

/* Nebenbereich */
aside {
    grid-area: aside;
}

/* Fußbereich */
footer {
    grid-area: footer;
}

/* Eigentliches Grid-Layout */
body {
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: 20% 10% auto 10%;
    grid-template-areas: "header header"
                         "nav nav"
                         "main aside"
                         "footer footer";
}

/* Grid-Layout im Kopfbereich */
header h1 {
    grid-area: h1;
}

header form {
    grid-area: form;
}

header {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "h1 form";
    align-items: center;
    justify-items: center;
}

@media screen and (max-width: 320px) {
    nav {
        flex-direction: column;
    }
}

@media screen and (max-width: 566px) {
    header form {
        display: none; /*visibility: hidden;*/
    }
}

@media screen and (max-width: 768px) {
    body {
        grid-template-rows: 20% 10% auto 20% 10%;
        grid-template-areas: "header header"
                         "nav nav"
                         "main main"
                         "aside aside"
                         "footer footer";
    }

    header h1 {
        font-size: 150%;
    }
}
