/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Styles für Bereiche
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Navigationsbereich */
nav {
    margin-bottom: 10px;
}

/* Navigations- und Nebenbereich */
nav, aside {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 1px gray;
}

/* Nebenbereich */
aside {
    margin-left: 9px;
}

/* Fußbereich */
footer {
    left: 0;
    bottom: 0;
    padding: 10px;
    margin-top: 10px;
    border-top: 1px dashed rgb(87, 87, 87);
    width: 100%;
    background-color: aliceblue; /* Farbe aus dem Logo */
    text-align: center;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Styles für Elemente
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Styling für Überschriften */
h1, h2, h3, h4, h5, h6 {
    color: midnightblue;
    clear: both;
}

/* Styling für Tabellen */
thead, tfoot {
    background-color: rgb(210, 232, 252);
}

tbody tr:nth-of-type(odd) {
    background-color: aliceblue;
}
