<!--Seitenbereich-->
<aside>
  <h3>Erscheinungsbild</h3>
  <input type="button" id="lightmode" value="Hell" onclick="lightmode()" />
  <input type="button" id="darkmode" value="Dunkel" onclick="darkmode()" />
  <h3>Neue Tutorials:</h3>
  <ul>
    <li>Around the world: 03.05.2023 - Dauer: 1 Min. 52 Sek.</li>
    <li>Hop the world: 04.05.2023 - Dauer: 2 Min. 20 Sek.</li>
  </ul>
</aside>
