<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>Fehlerseite</title>
    <link rel="stylesheet" type="text/css" href="assets/css/flexbox.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/forms.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/grid.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/lightmode.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/media-queries.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Autor-->
  </head>
  <body>
    <div id="headernav"><%- include("header.ejs") %> <%- include("nav.ejs") %></div>

    <!--Hauptbereich-->
    <main>
      <p style="font-size: 300%">
        <b> 404 (NOT FOUND): Seite konnte nicht gefunden werden! </b>
      </p>
    </main>

    <%- include("aside.ejs") %> <%- include("footer.ejs") %>

    <!--Skripte-->
    <script src="assets/js/appearance.js"></script>
    <script src="assets/js/burgermenu.js"></script>
  </body>
</html>
