<!--Kopfbereich-->
<header>
  <div>
    <a href="/"><h1>Meine Webseite</h1></a>
    <form action="/search" method="GET">
      <input class="search" name="search" placeholder="z. B. Tutorials" />
      <input class="search button" type="button" value="Suchen!" />
    </form>
  </div>
  <div>
    <form action="/login" method="GET">
      <input class="login" type="submit" value="Log in" />
    </form>
    <form action="/registration" method="GET">
      <input class="signup" type="submit" value="Sign up" />
    </form>
  </div>
</header>
