<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrierung - Football Freestyle</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/flexbox.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/forms.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/grid.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/lightmode.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/media-queries.css" />
    <!--Autor-->
  </head>
  <body>
    <div id="login">
      <h2>Anmelden</h2>
      <form action="/" method="POST">
        <p>
          <label class="required">
            E-Mail:
            <input id="e-mail" type="email" name="e-mail" size="25" />
          </label>
        </p>
        <p>
          <label class="required">
            Passwort:
            <input id="password" type="password" name="password" size="25" />
          </label>
        </p>
        <a title="Neues Passwort erstellen" href="/"> Neues Passwort </a>
        <br />
        <br />
        <a title="Hier können Sie sich registrieren" href="/"> Ich habe noch kein Nutzerkonto </a>
        <p>
          <input type="button" value="Anmelden" />
        </p>
      </form>
    </div>
  </body>
</html>
