<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registrierung - Football Freestyle</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/flexbox.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/forms.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/grid.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/lightmode.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/registration.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/media-queries.css" />
    <!--Autor-->
  </head>
  <body>
    <div id="headernav"><%- include("header.ejs") %> <%- include("nav.ejs") %></div>

    <!--Hauptbereich-->
    <main>
      <form action="/" method="POST">
        <fieldset>
          <legend>Persönliche Daten:</legend>
          <p>
            <label class="required">
              Name:
              <input id="name" name="name" pattern="[A-Z]+[a-z]*" required />
            </label>
          </p>
          <p>
            <label class="required">
              Vorname:
              <input id="firstname" name="firstname" pattern="[A-Z]+.*" required />
            </label>
          </p>
          <p>
            <label class="required">
              Geburtdatum:
              <input id="birthday" type="date" name="birthday" required />
            </label>
          </p>
          <p>
            <label class="required">
              E-Mail:
              <input id="e-mail" type="email" name="e-mail" size="25" />
            </label>
          </p>
          <p>
            <label> <input type="radio" name="picture" value="nopicture" checked />Ich möchte kein Bild hinzufügen </label>
            <label> <input type="radio" name="picture" value="picture" required />Bild hinzufügen </label>
          </p>
        </fieldset>
        <fieldset>
          <legend>Newsletter:</legend>
          <p>
            <input type="checkbox" id="newsletter" name="newsletter" value="Yes" />
            <label for="newsletter">Ich möchte den Newsletter abbonieren.</label>
          </p>
        </fieldset>
        <p>* Erforderliches Feld</p>
        <p>
          <input type="button" value="Registrierung abschließen" />
        </p>
      </form>
    </main>

    <%- include("aside.ejs") %> <%- include("footer.ejs") %>

    <!--Skripte-->
    <script src="/assets/js/appearance.js"></script>
    <script src="/assets/js/burgermenu.js"></script>
    <script src="/assets/js/form.js"></script>
  </body>
</html>
