<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Suchergebnisse - Football Freestyle</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/flexbox.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/forms.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/grid.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/lightmode.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/media-queries.css" />
    <!--Autor-->
  </head>
  <body>
    <div id="headernav"><%- include("header.ejs") %> <%- include("nav.ejs") %></div>

    <!--Hauptbereich-->
    <main>
      <section>
        <h2>Tutorials mit: <%=queryParams["search"]%></h2>
        <ul>
          <% if (queryMatch.length !== 0) { %> <% queryMatch.forEach((match) => { %>
          <li>
            <a href="/tutorial?name=<%= match.name %>"><%= match.name %></a>
            (<%= match.datum %>)
          </li>
          <% }); %> <% } else { %>
          <p>Keine Tutorials gefunden!</p>
          <% } %>
        </ul>
      </section>
    </main>

    <%- include("aside.ejs") %> <%- include("footer.ejs") %>

    <!--Skripte-->
    <script src="/assets/js/appearance.js"></script>
    <script src="/assets/js/burgermenu.js"></script>
  </body>
</html>
