<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Startseite - Football Freestyle</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/flexbox.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/forms.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/grid.css" />
    <link id="appearance" rel="stylesheet" type="text/css" href="/assets/css/lightmode.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/tiles.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/media-queries.css" />
    <!--Autor-->
  </head>
  <body>
    <div id="headernav"><%- include("header.ejs") %> <%- include("nav.ejs") %></div>

    <!--Hauptbereich-->
    <main>
      <article>
        <h2>Disclaimer</h2>
        Diese Seite existiert aus experimentellen Gründen und dient dem Zweck meine Fähigkeiten in der Web-Entwicklung zu verbessern.
      </article>

      <h2>Bereiche</h2>

      <div class="tiles">
        <a title="Lowers" href="/tutorials?category=lowers">
          Lowers
          <img src="/assets/img/nice_cock.png" alt="Nice cock!" width="80%" height="auto" />
        </a>
        <a title="Uppers" href="/tutorials?category=uppers">
          Uppers
          <img src="/assets/img/nice_cock.png" alt="Nice cock!" width="80%" height="auto" />
        </a>
        <a title="Sits" href="/tutorials?category=sits">
          Sits
          <img src="/assets/img/nice_cock.png" alt="Nice cock!" width="80%" height="auto" />
        </a>
        <a title="Creative" href="/tutorials?category=creative">
          Creative
          <img src="/assets/img/nice_cock.png" alt="Nice cock!" width="80%" height="auto" />
        </a>
        <a title="Test" href="/">
          Informatik
          <img src="/assets/img/nice_cock.png" alt="Nice cock!" width="80%" height="auto" />
        </a>
        <a title="Test" href="/">
          Test
          <img src="/assets/img/nice_cock.png" alt="Nice cock!" width="80%" height="auto" />
        </a>
        <a title="Test" href="/">
          Test
          <img src="/assets/img/nice_cock.png" alt="Nice cock!" width="80%" height="auto" />
        </a>
        <a title="Test" href="/">
          Test
          <img src="/assets/img/nice_cock.png" alt="Nice cock!" width="80%" height="auto" />
        </a>
        <a title="Test" href="/">
          Test
          <img src="/assets/img/nice_cock.png" alt="Nice cock!" width="80%" height="auto" />
        </a>
        <a title="Test" href="/">
          Test
          <img src="/assets/img/nice_cock.png" alt="Nice cock!" width="80%" height="auto" />
        </a>
      </div>
    </main>

    <%- include("aside.ejs") %> <%- include("footer.ejs") %>

    <!--Skripte-->
    <script src="/assets/js/appearance.js"></script>
    <script src="/assets/js/burgermenu.js"></script>
    <script src="/assets/js/script.js"></script>
  </body>
</html>
