<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutorials - Football Freestyle</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/flexbox.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/forms.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/grid.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/lightmode.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/media-queries.css" />
    <!--Autor-->
  </head>
  <body>
    <div id="headernav"><%- include("header.ejs") %> <%- include("nav.ejs") %></div>

    <!--Hauptbereich-->
    <main>
      <% tutorials.forEach((tutorial) => { %>
      <section>
        <h2><%= tutorial.name %></h2>
        <ul>
          <li>
            Titel:
            <a href="/tutorial?name=<%=tutorial.name%>"><%=tutorial.name%></a>
          </li>
          <li>Erscheinungsdatum: <%= tutorial.datum %></li>
          <li>Dauer: <%= tutorial.dauer %></li>
          <li>Beschreibung: <%= tutorial.beschreibung %></li>
        </ul>
      </section>
      <% }); %>
    </main>

    <%- include("aside.ejs") %> <%- include("footer.ejs") %>

    <!--Skripte-->
    <script src="/assets/js/appearance.js"></script>
    <script src="/assets/js/burgermenu.js"></script>
  </body>
</html>
