<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tutorial - Football Freestyle</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/flexbox.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/forms.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/grid.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/lightmode.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/media-queries.css" />
    <!--Autor-->
  </head>
  <body>
    <div id="headernav"><%- include("header.ejs") %> <%- include("nav.ejs") %></div>

    <!--Hauptbereich-->
    <main class="subcontainer">
      <div id="subsubcontainer1">
        <div id="subsubsubcontainer">
          <h2>Around the world (atw)</h2>
          <ul>
            <li>Titel: <a href="tutorial.html">Around the world (atw)</a></li>
            <li>Erscheinungsdatum: 03.05.2023</li>
            <li>Dauer: 1 Min. 52 Sek.</li>
            <li>Beschreibung: Einer der drei Basic-Tricks im Lower-Freestyle</li>
          </ul>
        </div>
        <figure>
          <img src="assets/img/nice_cock.png" alt="Nice cock!" width="100%" height="auto" />
          <figcaption>Nice cock!</figcaption>
        </figure>
      </div>
      <div id="subsubcontainer2">
        <figure>
          <video width="100%" height="auto" controls>
            <source src="assets/vid/Inscope_HaltDeinMaul.mp4" type="video/mp4" />
          </video>
        </figure>
        <table>
          <thead>
            <tr>
              <th>Kapitel</th>
              <th>Kurzbeschreibung</th>
              <th>Dauer</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Einleitung</td>
              <td>Eineitende Worte zum Thema</td>
              <td>17 Sek.</td>
            </tr>
            <tr>
              <td>Grundlagen</td>
              <td>Was man bereits können sollte</td>
              <td>19 Sek.</td>
            </tr>
            <tr>
              <td>1. Schritt</td>
              <td>Der richtige Anfang</td>
              <td>25 Sek.</td>
            </tr>
            <tr>
              <td>2. Schritt</td>
              <td>Die Bewegung üben</td>
              <td>30 Sek.</td>
            </tr>
            <tr>
              <td>3. Schritt</td>
              <td>Die saubere Ausführung</td>
              <td>21 Sek.</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2">Gesamtdauer</td>
              <td>1 Min. 52 Sek.</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </main>

    <%- include("aside.ejs") %> <%- include("footer.ejs") %>

    <!--Skripte-->
    <script src="/assets/js/appearance.js"></script>
    <script src="/assets/js/burgermenu.js"></script>
  </body>
</html>
