/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Styles für die gesamte Seite
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

html {
  background-color: rgb(75, 75, 75);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Styles für Bereiche
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Kopf-, Haupt- und Fußbereich */
#headernav,
main,
aside,
footer {
  background-color: rgb(50, 50, 50);
  box-shadow: none;
}

/* Hauptbereich */
body {
  color: white;
}

nav {
  background-color: rgb(35, 35, 35);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Styles für Elemente
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Styling für Überschriften */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: cornflowerblue;
}

div.tiles a {
  color: white;
  border-color: white;
}

input {
  background-color: white;
  border-color: midnightblue;
}

input.login {
  background-color: rgb(64, 64, 156);
}

a {
  color: cornflowerblue;
}
