/* Kopfbereich */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}

/* Navigationsbereich */
nav {
  display: flex;
  justify-content: space-evenly;
}

/* tutorial.html: subsubcontaine1r */
#subsubcontainer1 {
  display: flex;
}

/* tutorial.html: subsubcontainer1 */
#subsubcontainer2 {
  display: flex;
  flex-direction: column;
}

aside {
  flex: 1 1 20%;
}

/* Zusatzbereich */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
