/* ##################################
Styles, die für alle Formulare gelten
##################################### */
input:valid {
  background-color: rgb(225, 252, 225);
}

input:invalid {
  background-color: rgb(255, 225, 225);
}

input[type='submit'],
input[type='button'] {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

input[type='file'] {
  margin-left: 5px;
}

fieldset {
  border-radius: 10px;
}

input[type='button'] {
  background-color: rgb(210, 233, 255);
}

/* #########################################################
Styles für Formulare, die nicht in registration.html stehen
############################################################ */

input {
  background-color: white;
  border-color: midnightblue;
}

input.search {
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
}

input.login,
input.signup {
  color: white;
  font-weight: bolder;
  padding: 7.5px 10px;
}

input.login {
  background-color: rgb(64, 64, 156);
}

input.signup {
  background-color: midnightblue;
}

/* ##########################################
Styles, die nur für registrierung.html gelten
############################################# */

#name,
#firstname,
#birthday,
#e-mail,
#password {
  padding: 3px;
  border-radius: 5px;
}
