/* Kopf- und Navigationsbereich */
#headernav {
  grid-area: headernav;
}

/* Hauptbereich */
main {
  grid-area: main;
}

/* Nebenbereich */
aside {
  grid-area: aside;
}

/* Fußbereich */
footer {
  grid-area: footer;
}

/* Eigentliches Grid-Layout */
body {
  display: grid;
  grid-template-columns: 80% auto;
  grid-template-rows: 30% auto 10%;
  grid-template-areas:
    'headernav headernav'
    'main aside'
    'footer footer';
}
