/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Styles für die gesamte Seite
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

html {
  background-color: white;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Styles für Bereiche
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Kopf-, Haupt- und Fußbereich */
#headernav,
nav,
main,
aside,
footer {
  background-color: aliceblue;
  box-shadow: 1px 1px 2px 1px gray;
}

/* Hauptbereich */
body {
  color: black;
}

nav {
  background-color: rgb(210, 233, 255);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Styles für Elemente
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Styling für Überschriften */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: midnightblue;
}

div.tiles a {
  color: black;
  border-color: black;
}

a {
  color: midnightblue;
}
