/* Styling für Login-div */
#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* width: 35%;
    height: 50%; */
  min-width: 350px;
  min-height: 450px;
  max-width: 400px;
  max-height: 500px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 1px gray;
  background-color: aliceblue;
}

h2 {
  font-size: 250%;
}

#login input,
#login label {
  display: block;
}
