@media screen and (max-width: 320px) {
  nav {
    flex-direction: column;
  }
}

@media screen and (max-width: 566px) {
  header form {
    display: none; /*visibility: hidden;*/
  }
}

@media screen and (max-width: 768px) {
  body {
    grid-template-columns: auto;
    grid-template-rows: 15% auto 20% 5%;
    grid-template-areas:
      'headernav'
      'main'
      'aside'
      'footer';
  }

  header h1 {
    font-size: 150%;
  }

  aside {
    margin-left: 0;
  }
}

@media screen and (max-width: 979px) {
  div.tiles a {
    width: 20vw;
    height: 20vw;
  }
}

@media screen and (min-width: 1200px) {
  body {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  div.tiles a {
    width: 195.8px;
    height: 195.8px;
  }
}
