/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Styles für die gesamte Seite
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

html {
  scroll-behavior: smooth;
}

body {
  padding: 16px;
  gap: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Styles für Bereiche
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Kopf-, Haupt- und Fußbereich */
#headernav,
nav,
main,
aside,
footer {
  border-radius: 10px;
  padding: 16px;
}

/* Navigationsbereich */
nav {
  padding: 7.5px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
   Styles für Elemente
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* Styling für Überschriften */
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

/* Styling für Tabellen */
thead,
tfoot {
  background-color: rgb(210, 232, 252);
}

tbody tr:nth-of-type(odd) {
  background-color: aliceblue;
}

/* Styling für Links (Anker) */
a {
  cursor: pointer;
  text-decoration: none;
}
