div.tiles {
  display: flex;
  flex-wrap: wrap;
}

div.tiles a {
  display: flex;
  flex-direction: column-reverse;
  padding: 5px;
  border: 1px solid;
  margin: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 1px 1px 2px 1px gray;
  border-radius: 10px;
}

a img {
  margin-bottom: 5px;
}
